/*:root {
    --bg: #0a0a0a;
    --border: #1a1a1a;
    --text-logo: rgb(240, 118, 47);
    --text-light: aliceblue;
    --card-bg: #141414; 
}*/

:root {
    --bg: #1c1c1c
;
    --border: #363636;
    --text-logo: rgb(240, 118, 47);
    --text-light: aliceblue;
    --card-bg: #2a2a2a; 
}

body.light-mode {
    --bg: #f5f5fa;                    
    --border: #e0e0e6;                
    --text-logo: rgb(210, 88, 17);  
    --text-light: #1a1a1a;        
    --card-bg: #ffffff;
}

/* ==========================================================================
   Configurações abaixo são temporarias 
   ========================================================================== */

   span {  
    color: var(--text-light); }
/* ==========================================================================
   Configurações para o navegador não quebrar o site
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    user-select: none;
    touch-action: manipulation;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--bg);
    overscroll-behavior: none; 
    position: fixed;
}
.main-content::-webkit-scrollbar {
    display: none; 
}

/* ==========================================================================
   Parte que define o tamanho da div principal para adpatado aos celulares
   ========================================================================== */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--bg);
}

/* ==========================================================================
   Header e barra de navegação inferior
   ========================================================================== */
.header {
    padding: 16px 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg);
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;
}
.header h1 { font-size: 24px; color: var(--text-light); cursor: pointer; }
.header h3 { font-size: 11px; color: #666666; }

.logo-animation { 
    display: inline-block; 
    animation: brilho-laranja 2s infinite alternate ease-in-out; 
}
@keyframes brilho-laranja {
    0% { color: var(--text-logo); text-shadow: 0 0 0px rgba(240, 118, 47, 0); transform: scale(1); }
    50% { color: rgb(255, 143, 78); }
    100% { color: var(--text-logo); text-shadow: 0 0 12px rgba(240, 118, 47, 0.8), 0 0 20px rgba(240, 118, 47, 0.4); transform: scale(1.02); }
}

.splash1 { color: rgb(4, 163, 4); }

/* ==========================================================================
   Conteudo principal paginas
   ========================================================================== */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    min-height: 0;
    -webkit-overflow-scrolling: touch;
    padding: 20px 20px 140px 20px; 
}

.nav-bottom {
    position: fixed; 
    bottom: 0;        
    left: 0;         
    width: 100%;
    padding: 12px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg);
    border-top: 1px solid var(--border); 
    z-index: 9999;     
}

/* ==========================================================================
   Outras Configurações...
   ========================================================================== */
.home-screen h1 { color: var(--text-light); font-size: 22px; }
.home-screen .subtitulo { color: #888888; margin-top: 5px; font-size: 13px; }

.license {
    font-family: monospace;
    color: var(--text-logo);
    text-align: center;
    padding-top: 20px;
    flex-shrink: 0; 
    font-size: 11px;
}

/* ==========================================================================
   Conteudo Fuel-Hero
   ========================================================================== */
.fuel-hero {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    /* test visual com shadow */
    background: var(--bg);
    border: 1px solid var(--card-bg); 
    border-radius: 16px;
    
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    
    display: flex;
    flex-direction: column;
}

.fuel-hero .card-top {display: flex; }
.fuel-hero .fuel-type {font-size: 12px; font-weight: bold; color: var(--text-light); text-transform: uppercase; }

.fuel-hero .price-container {display: flex; align-items: baseline; }
.fuel-hero .currency { font-size: 48px; font-weight: bold; color: var(--text-logo); }
.fuel-hero .fuel-price { font-size: 48px; font-weight: bold; color: var(--text-logo); }
.fuel-hero .unit { font-size: 24px; font-weight: bold; color: var(--text-logo); }

/* muda cor dependendo da class ai oh*/
.fuel-hero .price-trend.up{ color: green;}
.fuel-hero .price-trend.down{ color: red;}
.fuel-hero .card-bottom{display: flex; justify-content: space-between; align-items: center; margin-top: 10px;}




