/* ==========================================================================
   Configuração de pagina ativa e Estados de Paginas
   ========================================================================== */
.page {
    display: none !important;
    width: 100%;
    box-sizing: border-box;
}
.page.active {
    display: flex !important;
    flex-direction: column;
}

/* Specifics Pagina 2 */
.fuel-pannel-grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.fuel-pannel-grid .fuel-card {
    background: var(--card-bg);
    height: 85px; 
    border-radius: var(--radius-main);
    padding: 14px;
    border: 1px solid var(--border);
    cursor: pointer;
    transition: all 0.2s;
}